//breakpoint

// 330px
// 414px
// 767px
// 1024px
// 1440px
@mixin media-xs {
    @media screen and (max-width: 414px){
        @content;
    }
}
@mixin media-sm {
    @media screen and (min-width: 415px) and (max-width: 767px){
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1440 px){
        @content;
    }
}

// colours
$primary-color: #6072e1;
$secondary-color: #38464e;
$primary01: rgba(96,114,225,0.1);
$border-color: #e0dede;

// fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:wght@200|Mandali&display=swap');
$font-heading: 'Mandali', sans-serif;
$font-sentence: 'Nunito Sans', sans-serif;

//transition
@mixin transition-ease {
	transition: all 0.3s ease-in-out;
}