body,h1,h2,h3,h4,h5,h6,p,div {
	margin: 0;
	font-family: $font-sentence;
	color: $secondary-color;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
}

a {
	color: $primary-color;
}

button {
	font-family: $font-sentence;
	font-weight: bold;
}

h1 {
	font-size: 1.5rem;
	line-height: 1;
	color: $primary-color;

	@include media-md {
		font-size: 2rem;
	}

}